:root {
  --primary-color: #f2f0e8;
  --secondary-color: #fdfdfb;
  --dark-color: #d8d8d8;
  --header-color: #dedcd4;
  --hover-color: #f9f9f9;
  --btn-border-color: #a9a8a8;
  --btn-hover-color: #c2c0b6;
}

body {
  background-color: var(--primary-color);
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.product-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

.sticky-section {
  position: sticky;
  top: 0;
  background-color: var(--header-color);
  border: 1px solid var(--dark-color);
  z-index: 10;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sticky-section.no-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 列表控制按鈕 */
.list-controls {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.search-wrapper {
  position: relative;
}

.search-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
}

.control-btn {
  background-color: transparent;
  border: 1px solid var(--btn-border-color);
  border-radius: 5px;
  cursor: pointer;
}

.control-btn:hover {
  background-color: var(--btn-hover-color);
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  padding: 5px;
  border: transparent;
  cursor: pointer;
}

.filter-btn.active {
  background-color: var(--btn-hover-color);
}

.filter-drawer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
  gap: 20px;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

.category-filters {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-label {
  font-size: 12px;
  text-transform: uppercase;
}

.option-btn {
  width: 60px;
  height: 30px;
  border: 1px solid var(--btn-border-color);
  cursor: pointer;
  border-radius: 5px;
}

.option-btn.active {
  background-color: var(--btn-hover-color);
}

input {
  height: 30px;
  border: 1px solid var(--btn-border-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding-left: 5px;
}

/* 列表標題 */
.list-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  font-weight: 700;
  text-transform: uppercase;
}

/* 列表 */
.list-content {
  border: 1px solid var(--dark-color);
  border-top: none;
}

.no-results {
  padding: 12px;
  text-align: center;
  background-color: var(--secondary-color);
  border: 1px solid var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  padding: 40px;
  text-align: center;
  border-top: none;
}

.loading p {
  color: #666;
  margin-top: 10px;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #dfdfdf;
  border-top: 4px solid #666;
  border-radius: 50%;
  margin: 0 auto;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.list-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  border-bottom: 1px solid #eee;
  background-color: var(--secondary-color);
  text-transform: capitalize;
}

.list-row:hover {
  background: var(--hover-color);
}

.cell {
  padding: 12px;
  display: flex;
  align-items: center;
}

/* 卡片 */
.card-content {
  display: none;
}

.card {
  border: 1px solid var(--dark-color);
  border-radius: 8px;
  background: var(--secondary-color);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 16px;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-label {
  font-size: 10px;
  color: #666;
  text-transform: uppercase;
}

.card-info p {
  font-size: 16px;
  margin: 4px 0;
  text-transform: capitalize;
}

/* 加載更多 */
.loading-more {
  text-align: center;
  padding: 20px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.loading-more span {
  font-size: 14px;
}

.loading-dots {
  display: flex;
  gap: 4px;
}

.loading-dot {
  width: 3px;
  height: 3px;
  background-color: #777;
  border-radius: 50%;
  opacity: 0;
}

.loading-dot:nth-child(1) {
  animation: fadeInOut 1.5s infinite;
}

.loading-dot:nth-child(2) {
  animation: fadeInOut 1.5s infinite 0.5s;
}

.loading-dot:nth-child(3) {
  animation: fadeInOut 1.5s infinite 1s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* RWD */
@media (max-width: 768px) {
  .product-list {
    padding: 0px 20px;
  }
  .sticky-section {
    width: 100vw;
    padding: 2px 12px 12px 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    left: 0;
    right: 0;
  }

  .filter-drawer {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .filter-group {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .option-btn {
    flex: 1;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-header,
  .list-content {
    display: none;
  }

  .loading {
    background-color: transparent;
    border: none;
  }

  .no-results {
    background-color: transparent;
    border: none;
  }

  .card-content {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 16px;
  }
}
